
{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <style>  
            h1{  
                background-color: #b0d4de;  
            }  
            </style>  
        <title>Products</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}" defer></script>
        <header>
            <h1><a href="{% url 'product_list' %}">My Online Store</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'product_list' %}">Home</a></li>
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
        <h1>Products</h1>
        <ul>
            {% for product in products %}
            <li>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                {{ product.name }} - Price: ${{ product.price }}
                - <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
